<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 p-flex p-flex-align-center p-flex-jc-sb">
                <ul>
                    
                    <li>

                        
                    </li>
                    
                    <li><a href="#scrollspyHeading1"><img class="p-cursor"  alt="image about me" src="assets/img/aboutme.png"  width="120px"/></a></li>
                    <li><a href="#scrollspyHeading2"><img class="p-cursor"  alt="image my skills " src="assets/img/myskills.png"  width="120px"/></a></li>
                    <li><a href="#scrollspyHeading3"><img class="p-cursor"  alt="image cv" src="assets/img/cv.png" width="100px"/></a></li>
                    <li><a href="#scrollspyHeading4">projets</a></li>
                    <li><a href="mailto:dbui010101@gmail.com"><img class="p-cursor"  alt="image mail" src="assets/img/mail.png"  width="120px"/></a></li>
                    <li><a   href="https://www.linkedin.com/in/david-bui-21317416b" ><img class="p-cursor"  alt="image linkedin" src="assets/img/linkedin.png" width="145px"/></a></li>
                    <li><a href="https://github.com/dbui010101"><img class="p-cursor"  alt="image github" src="assets/img/github.png"  width="145px"/></a></li>
                    
                </ul>
                <!-- <ul class="nav nav-pills">
                    <li class="nav-item ">
                        <a class="nav-link text-light " href="#scrollspyHeading1">About me</a>
                      </li>
                      <li class="nav-item ">
                        <a class="nav-link text-light " href="#scrollspyHeading2">My Skills</a>
                      </li>
                      <li class="nav-item ">
                        <a class="nav-link text-light " href="#scrollspyHeading3" >Three</a>
                      </li> -->
                      
                      
                    <!-- <li>
                        <a [routerLink]="['/']" [routerLinkActive]="['is-active']">Home</a>
                    </li>
                    <li>
                        <a [routerLink]="['/about']" [routerLinkActive]="['is-active']">About</a>
                    </li>
                    <li>
                        <a href="#">Portefolio</a>
                    </li>
                    <li>
                        <a href="#">Reach</a>
                    </li> -->
                <!-- </ul> -->
            </div>
        </div>
    </div>
</header>
