<div class="contenu ">
  <section id="scrollspyHeading1">

    <div class="col-sm-5">
      <div class="decreaseimg">
        <div class="p-profile"></div>
      </div>
    </div>

    <div class="col-sm-7 ">
      <h2 class=" display-1">David Bui</h2>
      <h1 class="p-tag">"Just Code it"</h1>
      <p class="line-bottom texte text-danger font-weight-bold">OBJECTIF CONTRAT D'ALTERNANCE
        27/9/21 AU 04/11/22</p>
      <p class="line-bottom texte">Email: dbui010101@gmail.com</p>


      <p class="line-bottom texte">Phone: 07.81.52.41.35</p>

      <p class="line-bottom texte">Adresse: Nancy et Sarreguemines</p>

      <p class="line-bottom texte">Nationalité: Français</p>

      <p class="line-bottom texte">Caractère: tranquille, tenace</p>
      <p class="p-des mt-3 texte">Actuellement en formation développeur web à Epitech, je suis à la recherche d'un
        contrat d'alternance pour le poste de développeur web </p>
      <p class="p-des mt-3 texte">Grace à ma formation intensive, j’ai pu cette année développer de nombreuses
        compétences à travers plusieurs projets en équipe et individuel en appliquant la méthode agile.</p>

    </div>


  </section>
  <section id="scrollspyHeading2">
    
    <div class="row">
      <h3>FRONT END</h3>
      <div class="card-group">
        <div class="card">
          <img class="card-img-top" src="/assets/img/HTML5.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">HTML</h5>

          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="/assets/img/CSS3.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">CSS</h5>

          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="/assets/img/sass.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">SASS</h5>

          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="/assets/img/ajax.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">AJAX</h5>

          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="/assets/img/js.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">JAVASCRIPT</h5>

          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="/assets/img/jQuery.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">JQUERY</h5>

          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="/assets/img/React.js.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">REACT JS</h5>

          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="/assets/img/reactnative.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">REACT NATIVE</h5>

          </div>
        </div>
      </div>

      <div class="row">
        <h3>BACK END</h3>
        <div class="card-group">
          <div class="card">
            <img class="card-img-top" src="/assets/img/python.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">PYTHON</h5>

            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="/assets/img/php.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">PHP</h5>

            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="/assets/img/lumen.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">LUMEN</h5>

            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="/assets/img/cakephp.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">CAKE PHP</h5>

            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="/assets/img/Laravel.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">LARAVEL</h5>

            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="/assets/img/Symfony.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">SYMPHONY</h5>

            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="/assets/img/Node.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">NODE</h5>

            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="/assets/img/expressjs.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">EXPRESSJS</h5>

            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="/assets/img/socket.io.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">SOCKET.IO</h5>

            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="/assets/img/apirest.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">APIREST</h5>

            </div>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="card-group">
          <h3>BASE DE DONNEE</h3>
          <div class="card">
            <img class="card-img-top" src="/assets/img/mysql.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">MYSQL</h5>

            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="/assets/img/phpmyadmin.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">PHPMYADMIN</h5>

            </div>
          </div>


          <div class="card">
            <img class="card-img-top" src="/assets/img/mongodb.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">MONGODB</h5>

            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="/assets/img/mongoexpress.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">MONGOEXPRESS</h5>

            </div>
          </div>
        </div>
      </div>




      <div class="row">
        <div class="card-group">
          <div class="card">
            <h3>OUTIL</h3>
            <img class="card-img-top" src="/assets/img/linux.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">LINUX</h5>

            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="/assets/img/visualstudiocode.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">VISUALSTUDIOCODE</h5>

            </div>
          </div>


          <div class="card">
            <img class="card-img-top" src="/assets/img/postman.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">POSTMAN</h5>

            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="/assets/img/github.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">GITHUB</h5>

            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="/assets/img/Gimp.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">GIMP</h5>

            </div>

          </div>
        </div>
      </div>


    </div>










    <!-- <div class="card" style="width: 18rem;">
      <img src="/assets/img/linux.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Linux</h5>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="/assets/img/visualstudiocode.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Visual studio code</h5>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="/assets/img/postman.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Postman</h5>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="/assets/img/Github.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Github</h5>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="/assets/img/Gimp.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Gimp</h5>
      </div>
    </div> -->

    <!-- <div class="card " style="width: 18rem;">
      <img src="/assets/img/HTML5.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Html</h5>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="/assets/img/CSS3.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Css</h5>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="/assets/img/sass.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Sass</h5>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="/assets/img/ajax.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Ajax</h5>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="/assets/img/js.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Javascript</h5>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="/assets/img/jQuery.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Jquery</h5>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="/assets/img/React.js.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">React JS</h5>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="/assets/img/reactnative.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">React Native</h5>
      </div>
    </div>
  




    <div class="card" style="width: 18rem;">
      <img src="/assets/img/python.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Python</h5>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="/assets/img/php.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Php</h5>
      </div>
    </div>-->
    <!-- <div class="card" style="width: 18rem;">
      <img src="/assets/img/lumen.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">lumen</h5>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="/assets/img/cakephp.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">CakePhp</h5>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="/assets/img/Laravel.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Laravel</h5>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="/assets/img/Symfony.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Symphony</h5>
      </div>
    </div>
    
    <div class="card" style="width: 18rem;">
      <img src="/assets/img/Node.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Node js</h5>
      </div>
    </div> -->
    <!-- <div class="card" style="width: 18rem;">
      <img src="/assets/img/expressjs.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Express js</h5>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="/assets/img/socket.io.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Socket.io</h5>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="/assets/img/apirest.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Api rest</h5>
      </div>
    </div> -->
    <!-- <div class="card" style="width: 18rem;">
      <img src="/assets/img/mysql.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">MySql</h5>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="/assets/img/phpmyadmin.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">PhpMyAdmin</h5>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="/assets/img/mongodb.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Mongodb</h5>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="/assets/img/mongoexpress.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Mongo Express</h5>
      </div>
    </div> -->

  </section>
  <section id="scrollspyHeading3">

    <h1 class="sizeresponsive"><a href="/assets/img/buinancy.pdf" download="/assets/img/buinancy.pdf">
        <p class="yellow size-change">Download CV</p>
      </a></h1>
    <a href="/assets/img/buinancy.pdf" download="/assets/img/buinancy.pdf">
      <img class="p-cursor Responsive image w-75" alt="image cv" src="assets/img/buinancy.png" />
    </a>
  </section>
  <section id="scrollspyHeading4 ">
    <!-- <h1>projets</h1> -->
    <div class="column ">
      <div class="row marg-left  marg-top">
        <img src="/assets/img/myirc.png" class="img-thumbnail Responsive image  " alt="...">
      </div>

      <div class="row marg-left marg-top">
        <img src="/assets/img/mysnapchat2.png" class="img-thumbnail Responsive image  " alt="...">
      </div>
    </div>

    <div class="column">
      <div class="row marg-right marg-top">
        <img src="/assets/img/myquiz.png" class="img-thumbnail Responsive image  " alt="...">
      </div>

      <div class="row marg-right marg-top">
        <img src="/assets/img/mywysiwyg.png" class="img-thumbnail Responsive image" alt="...">
      </div>
    </div>
  </section>
  <!-- deployement application angular site -->
</div>
